// Footer
footer {
  padding: 0 0 1rem 0;
  font-size: $small-font-size;

  button {
    margin: 3rem 0 2rem 0;
  }

  .top_arrow {
    display: inline-block;
    transform: rotate(90deg);
    font-weight: 700;
    font-size: 200%;
    vertical-align: sub;
  }
}
