// Main Content Area
main#main_content {
  padding-right: 0;
}

// Sections
// title line grid base
.title_line_grid_base {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1;
  align-items: end;
  grid-column-gap: 1rem;
}


article {
  padding: 2rem 0;
  @include breakpoint(large up) {
    padding: 3rem 0;
  }

  &.about {
    padding-top: 2.5rem;
    @include breakpoint(medium up) {
      padding-top: 3rem;
    }
  }

  header.article__header {
    .article__header_line {grid-area: header_line;}
    .article__header_title {
      grid-area: header_title;
      line-height: 1.3;
      @supports (height: 100%) {
        margin-bottom: -.6rem;
        @include breakpoint(large up) {
          margin-bottom: -1rem;
        }
      }

    }

    display: grid;
    grid-template-columns: .40rem auto;
    grid-template-rows: 1;
    grid-template-areas:
    "header_line header_title";
    grid-column-gap: 1rem;

    margin-bottom: 3rem;
    @include breakpoint(large up) {
      grid-column-gap: 1.5rem;
    }

  }
}

.article__header_line {
  justify-self: stretch;
  align-self: end;
  content: " ";
  background-color: $secondary;
  width: .30rem;
  height: 2.5rem;
  margin-right: .5rem;
  float: left;
  @include breakpoint(large up) {
    width: .40rem;
    height: 4rem;
  }
  @supports (height: 100%) {
    height: 100%;
    margin-right: 0;
  }
}

// Works Section
article.works {
  padding-top: 1.5rem;
  .fig__img {grid-area: image;}
  .fig__caption {grid-area: caption;}
  .fig__caption_p {grid-area: para;}
  .line {grid-area: line; justify-self: end;}

  figure {
    @extend .title_line_grid_base;
    grid-template-rows: 2;
    grid-template-areas:
    "image image"
    "caption caption";
    grid-row-gap: 1.5rem;
    padding-bottom: 5rem;
    @include breakpoint(large up) {
      padding-bottom: 10rem;
      grid-column-gap: 1.5rem;
      grid-template-rows: 1;
      grid-template-areas:
      "image caption";
    }
    &:last-child {
      padding-bottom: 0;
    }

  }
}

.fig__caption {
  margin-top: 1rem;
  padding-left: 1rem;
  @include breakpoint(small only) {
    grid-column-gap: 0;
    padding-left: .5rem;
  }
  @supports (display: grid) {
    @extend .title_line_grid_base;
    grid-template-areas:
    "line para";
    @include breakpoint(medium down) {
      grid-template-columns: 14% 84%;
    }
  }


  span.line {
    @extend .article__header_line;
    height: 7rem;
    @include breakpoint(small only) {
      margin-right: .5rem;
    }
    @include breakpoint(large down) {
      height: 5.3rem;
    }
    @supports (height: 100%) {
      height: 100%;
    }

  }

  p {
    font-size: 80%;
    margin-bottom: -.50rem;
  }

}
