// Body
header {grid-area:header;}
#main_content {grid-area:main;}
footer {grid-area:footer;}

body {
  display: grid;
  grid-template-columns: 2% 96% 2%;
  grid-template-rows: auto;
  grid-template-areas:
  ". header ."
  ". main ."
  ". footer .";
  margin: 0 .25rem;

  @include breakpoint(medium) {
    grid-template-columns: 10% 80% 10%;
  }
  @include breakpoint(large up) {
    grid-template-columns: auto 52.5rem auto;
  }

}

// Headergrid-area: header;
.nav__container {grid-area: nav;}
.header__title {grid-area: title;}

.header__container {
  display: grid;
  grid-template-columns: auto 18.75rem auto;
  grid-template-areas:
  ". title ."
  ". nav .";
  margin:0;
  grid-template-rows: auto;
  @include breakpoint(medium) {
    grid-template-columns: 8.5rem 23.5rem;
    grid-template-areas:
    "nav title";
    margin: 0 .25rem;
  }
  @include breakpoint(large up) {
    grid-template-columns: 11rem 40rem;
  }
}

// Menu
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  margin: 1rem 0 0 0;
  @include breakpoint(medium) {
    margin: 25% 0 10% 0;
  }
  @include breakpoint(large up) {
    margin: 40% 0 10% 0;
  }
}

.nav__pipe {
  display: block;
  width: .30rem;
  background-color: $secondary;
  @include breakpoint(large up) {
    width: .40rem;
  }
}

.nav__menu {
  display: flex;
  flex-direction: row;
  width: 98%;
  justify-content: space-between;
  list-style: none;
  margin:0;
  padding-left: .5rem;
  @include breakpoint(medium) {
    width: inherit;
    flex-direction: column;
  }
  @include breakpoint(large up) {
    padding-left: 1rem;
  }

  li {
    line-height: 1.4;
    &:first-child {
      margin-top:0;
      @include breakpoint(medium) {
        margin-top: -.4rem;
      }
      @include breakpoint(large up) {
          margin-top: -1rem;
      }
    }
  }

  li a {
    font-size: 100%;
    color: $secondary;
    @include breakpoint(large up) {
      font-size: 140%;
    }

    text-decoration-thickness: .15rem;
      &:hover, &:focus, &:active {
        color: $anchor-color-hover;
      }
  }
}

.one, .two, .three, .four, .five {
  color: $primary;
  line-height:1.1;
  width: max-content;
}
.one{ grid-area: one;}
.two{grid-area: two;}
.three{grid-area: three;}
.four{grid-area: four;}
.five {grid-area: five;}

.header__title {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 20% 60% 20%;
  grid-template-areas:
  "one . three ."
  "one two three four"
  "one . three five";
  width: min-content;
  margin:0;
  @include breakpoint(small only) {
    padding-left:.4rem;
  }
}

.one, .three {
  font-size: 220%;
  justify-self: end;
  @include breakpoint(medium) {
    font-size: 236%;
  }
  @include breakpoint(large up) {
    padding-left: 1rem;

  }

}

.two {
  margin-left: -.5rem;
  padding-right:.25rem;
  @include breakpoint(medium up) {
    padding-right: 2rem;
  }
}

.two, .four {
  align-self: end;
}
.one, .three, .four {
  justify-self: stretch;
}

.five {
  font-size: 2.25rem;
  color: $secondary;
  letter-spacing: .1rem;
  align-self: start;
  margin-left: -8%;
  margin-top: -10%;
  @include breakpoint(medium) {
    font-size: 2.5rem;
  }
  @include breakpoint(large up) {
    font-size: 4.5rem;
  }
}
