// Accessiblilty
#skiptocontent a {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  background-color: #B22222;
  color: $white;
  z-index: 20;
  &:focus {
    position:relative;
    width:100vw;
    left:0;
    height:auto;
    padding: .5rem 1rem;
    display: block;
  }
  &:hover, &:active {
    color: #D6D6D6;
  }
}

.screen_reader_accessible {
  display: none;
  width:0;
  height: 0;
  color: $black;
  background: $white;
}

// Headergrid-area: header;
.nav__container {grid-area: nav__container;}
.header__title {grid-area: header__title;}
.header__main {grid-area: header__main;}
.header__sub_title {grid-area: header__sub_title;}
.nav__pipe {grid-area: nav__pipe;}
.nav__menu {grid-area: nav__menu;}
header {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-row: 2;
  grid-template-areas:
  "nav__container header__title"
  "nav__container header__title";
  border: 1px solid red;

  .header__title {
    display: grid;
    grid-template-columns: auto;
    grid-row: 2;
    grid-template-areas:
    "header__main"
    "header__sub_title";
    align-self: start;

  }
  // should this be a flex item to fill space
  .header__main_title {
    align-self: start;
    border: 1px solid purple;
    h1 {
      line-height: 1;
    }
    span {
        font-size: 200%;
        vertical-align: sub;
    }
  }
  .header__sub_title {
    border: 1px solid orange;
  }

  // Menu
  nav {
    display: grid;
    grid-template-columns: 10px auto;
    grid-row: 1;
    grid-template-areas:
    "nav__pipe nav__menu";

    margin: 1rem;
    border: 1px solid blue;

    .nav__pipe {
      color: $secondary;
    }

    ul.nav__menu {
      list-style: none;
      margin: 0;
      a {
        color: $anchor-color-hover;
        &:hover, &:focus, &:active {
          color: $anchor-color;
        }
      }
    }
  }

}



// Footer

footer {
  font-size: $small-font-size;

  button {
    margin-top: 3rem;
  }
  .top_arrow {
    display: inline-block;
    transform: rotate(45deg);
  }
}
