<article class="about">
  <p>
    Alberta artist Judith Nickol has been painting since she was a child.
Working from a studio on the family farm beside the Old Man river, she
seeks to capture in watercolour the awe-inspiring beauty of the
prairies, mountains, and dramatic, expansive skies of southern
Alberta. Each painting is a response to a moment in time.</p>

  <p>
  Judith began private art instruction at age nine, and graduated from
the University of Montana with a BA in art.
  </p>
</article>
