<article>
  <header class="article__header">
    <span class="article__header_line"></span>
    <h3 class="article__header_title" id="contact">Contact</h3>
  </header>

  <figure class="contact_image">
    <div class="editable" id="edit-imag-contact">
      <img src="assets/img/Judith_Nickol_with_her_works_1053.jpg" alt="Judith Nickol with her works">
    </div>
    <figcaption>
      <div class="editable" id="edit-cap-contact">
        <p>
          <em>Judith Nickol with her works. Photo by G. Wayne Dwornik.</em>
        </p>
      </div>
    </figcaption>
  </figure>

  <div class="editable" id="edit-contact">
    <p>For more information on my works, please <a href="mailto:judithnickol@gmail.com?subject=Message%20From%20Judith%20Nickol%20Website" target="_blank">email me</a>.</p>
  </div>

</article>
