<article class="works">
  <header class="article__header">
    <span class="article__header_line"></span>
    <h3 class="article__header_title" id="works">Works</h3>
  </header>

  <figure class="long">
    <div class="fig__img editable" id="edit-imag-five">
      <img src="assets/img/Evening_Thunder_East_6_50x19_50_Judith_Nickol_0740.jpg" alt="Evening Thunder East by Judith Nickol">
    </div>
    <figcaption class="fig__caption long">
      <span class="line"></span>
      <div class="fig__caption_p editable" id="edit-cap-five">
        <p>
          &ldquo;Evening Thunder East&rdquo;<br> Watercolour<br>6.50 x 19.50&rdquo;
        </p>
      </div>
    </figcaption>
  </figure>

  <figure class="long">
    <div class="fig__img editable" id="edit-imag-one">
      <img src="assets/img/Building_Cloud_10x29_Judith_Nickol_0822.jpg" alt="Building Cloud by Judith Nickol">
    </div>
    <figcaption class="fig__caption long">
      <span class="line"></span>
      <div class="fig__caption_p editable" id="edit-cap-one">
        <p>
          &ldquo;Building Cloud&rdquo;<br> Watercolour on paper<br>10 x 29&rdquo;
        </p>
      </div>
    </figcaption>
  </figure>

  <figure>
    <div class="fig__img editable" id="edit-imag-two">
      <img src="assets/img/Sun_and_Shadow_Cameron_Falls_13x19_Judith_Nickol_0958_lg.jpg" alt="Sun and Shadow, Cameron Falls by Judith Nickol">
    </div>
    <figcaption class="fig__caption">
      <span class="line"></span>
      <div class="fig__caption_p editable" id="edit-cap-two">
        <p>
          &ldquo;Sun and Shadow, Cameron Falls&rdquo;<br> Watercolour on paper<br>13 x 19&rdquo;
        </p>
      </div>
    </figcaption>
  </figure>

  <figure class="vertical">
    <div class="fig__img editable" id="edit-imag-three">
      <img src="assets/img/Beargrass_Lace_11x6_Judith_Nickol_0876_sm.jpg" alt="Beargrass Lace by Judith Nickol">
    </div>
    <figcaption class="fig__caption vertical">
      <span class="line"></span>
      <div class="fig__caption_p editable" id="edit-cap-three">
        <p>
          &ldquo;Beargrass Lace&rdquo;<br> Watercolour on paper<br>11 x 6&rdquo;
        </p>
      </div>
    </figcaption>
  </figure>

  <figure class="vertical">
    <div class="fig__img editable" id="edit-imag-four">
      <img src="assets/img/Beargrass_Three_11x6_Judith_Nickol_0875_sm.jpg" alt="Beargrass Three by Judith Nickol">
    </div>
    <figcaption class="fig__caption vertical">
      <span class="line"></span>
      <div class="fig__caption_p editable" id="edit-cap-four">
        <p>
          &ldquo;Beargrass Three&rdquo;<br> Watercolour on paper<br>11 x 6&rdquo;
        </p>
      </div>
    </figcaption>
  </figure>


    <figure class="long">
      <div class="fig__img editable" id="edit-imag-six">
        <img src="assets/img/Hazy_Day_Flying_Eagle_Road_6_50x19_50_Judith_Nickol_0737.jpg" alt="Hazy Day Flying Eagle Road by Judith Nickol">
      </div>
      <figcaption class="fig__caption long">
        <span class="line"></span>
        <div class="fig__caption_p editable" id="edit-cap-six">
          <p>
            &ldquo;Hazy Day Flying Eagle Road&rdquo;<br> Watercolour on paper<br>6.50 x 19.50&rdquo;
          </p>
        </div>
      </figcaption>
    </figure>

  <figure class="long">
    <div class="fig__img editable" id="edit-imag-seven">
      <img src="assets/img/Dawns_Clouds_and_Jakes_Trees_6_50x19_50_Judith_Nickol_0738.jpg" alt="Dawns Clouds and Jakes Trees by Judith Nickol">
    </div>
    <figcaption class="fig__caption long">
      <span class="line"></span>
      <div class="fig__caption_p editable" id="edit-cap-seven">
        <p>
          &ldquo;Dawns Clouds and Jakes Trees&rdquo;<br> Watercolour on paper<br>6.50 x 19.50&rdquo;
        </p>
      </div>
    </figcaption>
  </figure>

  <figure>
    <div class="fig__img editable" id="edit-imag-eight">
      <img src="assets/img/View_West_October_Evening_6_50x9_50_Judith_Nickol_0689.jpg" alt="View West October Evening by Judith Nickol">
    </div>
    <figcaption class="fig__caption">
      <span class="line"></span>
      <div class="fig__caption_p editable" id="edit-cap-eight">
        <p>
          &ldquo;View West October Evening&rdquo;<br> Watercolour on paper<br>6.50 x 9.50&rdquo;
        </p>
      </div>
    </figcaption>
  </figure>

  <figure class="long">
    <div class="fig__img editable" id="edit-imag-eight">
      <img src="assets/img/Morning_Light_Southeast_10x29_Judith_Nickol_0686.jpg" alt="Morning Light Southeast by Judith Nickol">
    </div>
    <figcaption class="fig__caption long">
      <span class="line"></span>
      <div class="fig__caption_p editable" id="edit-cap-eight">
        <p>
          &ldquo;Morning Light Southeast&rdquo;<br> Watercolour on paper<br>10 x 29&rdquo;
        </p>
      </div>
    </figcaption>
  </figure>

</article>
