<article class="works">
  <header class="article__header">
    <span class="article__header_line"></span>
    <h3 class="article__header_title" id="works">Works</h3>
  </header>

  <figure>
    <img src="assets/img/View_West_October_Evening_6_50x19_50_IMG_0689_800x600.png" alt="View West October Evening" class="fig__img">
    <figcaption class="fig__caption">
      <span class="line"></span>
      <p class="fig__caption_p">&ldquo;View West October Evening&rdquo;<br> Watercolour<br>6.50 x 9.50&rdquo;</p>
    </figcaption>
  </figure>

  <figure>
    <img src="assets/img/View_West_October_Evening_6_50x19_50_IMG_0689_800x600.png" alt="View West October Evening" class="fig__img">
    <figcaption class="fig__caption">
      <span class="line"></span>
      <p class="fig__caption_p">&ldquo;View West October Evening&rdquo;<br> Watercolour<br>6.50 x 9.50&rdquo;</p>
    </figcaption>
  </figure>

  <figure>
    <img src="{{root}}/assets/img/View_West_October_Evening_6_50x19_50_IMG_0689_800x600.png" alt="View West October Evening" class="fig__img">
    <figcaption class="fig__caption">
      <span class="line"></span>
      <p class="fig__caption_p">&ldquo;View West October Evening&rdquo;<br> Watercolour<br>6.50 x 9.50&rdquo;</p>
    </figcaption>
  </figure>

  <figure>
    <img src="{{root}}/assets/img/View_West_October_Evening_6_50x19_50_IMG_0689_800x600.png" alt="View West October Evening" class="fig__img">
    <figcaption class="fig__caption">
      <span class="line"></span>
      <p class="fig__caption_p">&ldquo;View West October Evening&rdquo;<br> Watercolour<br>6.50 x 9.50&rdquo;</p>
    </figcaption>
  </figure>

  <figure>
    <img src="{{root}}/assets/img/View_West_October_Evening_6_50x19_50_IMG_0689_800x600.png" alt="View West October Evening" class="fig__img">
    <figcaption class="fig__caption">
      <span class="line"></span>
      <p class="fig__caption_p">&ldquo;View West October Evening&rdquo;<br> Watercolour<br>6.50 x 9.50&rdquo;</p>
    </figcaption>
  </figure>

  <figure>
    <img src="{{root}}/assets/img/View_West_October_Evening_6_50x19_50_IMG_0689_800x600.png" alt="View West October Evening" class="fig__img">
    <figcaption class="fig__caption">
      <span class="line"></span>
      <p class="fig__caption_p">&ldquo;View West October Evening&rdquo;<br> Watercolour<br>6.50 x 9.50&rdquo;</p>
    </figcaption>
  </figure>

  <figure>
    <img src="{{root}}/assets/img/View_West_October_Evening_6_50x19_50_IMG_0689_800x600.png" alt="View West October Evening" class="fig__img">
    <figcaption class="fig__caption">
      <span class="line"></span>
      <p class="fig__caption_p">&ldquo;View West October Evening&rdquo;<br> Watercolour<br>6.50 x 9.50&rdquo;</p>
    </figcaption>
  </figure>

  <figure>
    <img src="{{root}}/assets/img/View_West_October_Evening_6_50x19_50_IMG_0689_800x600.png" alt="View West October Evening" class="fig__img">
    <figcaption class="fig__caption">
      <span class="line"></span>
      <p class="fig__caption_p">&ldquo;View West October Evening&rdquo;<br> Watercolour<br>6.50 x 9.50&rdquo;</p>
    </figcaption>
  </figure>
</article>
