<article class="works">
  <header class="article__header">
    <span class="article__header_line"></span>
    <h3 class="article__header_title" id="works">Works</h3>
  </header>

  <figure>
    <div class="fig__img editable" id="edit-imag-one">
      <img src="assets/img/View_West_October_Evening_6_50x19_50_IMG_0689_800x600.png" alt="View West October Evening">
    </div>
    <figcaption class="fig__caption">
      <span class="line"></span>
      <div class="fig__caption_p editable" id="edit-cap-one">
        <p>
          &ldquo;View West October Evening&rdquo;<br> Watercolour<br>6.50 x 9.50&rdquo;
        </p>
      </div>
    </figcaption>
  </figure>

  <figure>
    <div class="fig__img editable" id="edit-imag-two">
      <img src="assets/img/View_West_October_Evening_6_50x19_50_IMG_0689_800x600.png" alt="View West October Evening">
    </div>
    <figcaption class="fig__caption">
      <span class="line"></span>
      <div class="fig__caption_p editable" id="edit-cap-two">
        <p>
          &ldquo;View West October Evening&rdquo;<br> Watercolour<br>6.50 x 9.50&rdquo;
        </p>
      </div>
    </figcaption>
  </figure>

  <figure>
    <div class="fig__img editable" id="edit-imag-three">
      <img src="{{root}}/assets/img/View_West_October_Evening_6_50x19_50_IMG_0689_800x600.png" alt="View West October Evening">
    </div>
    <figcaption class="fig__caption">
      <span class="line"></span>
      <div class="fig__caption_p editable" id="edit-cap-three">
        <p>
          &ldquo;View West October Evening&rdquo;<br> Watercolour<br>6.50 x 9.50&rdquo;
        </p>
      </div>
    </figcaption>
  </figure>

  <figure>
    <div class="fig__img editable" id="edit-imag-four">
      <img src="{{root}}/assets/img/View_West_October_Evening_6_50x19_50_IMG_0689_800x600.png" alt="View West October Evening">
    </div>
    <figcaption class="fig__caption">
      <span class="line"></span>
      <div class="fig__caption_p editable" id="edit-cap-four">
        <p>
          &ldquo;View West October Evening&rdquo;<br> Watercolour<br>6.50 x 9.50&rdquo;
        </p>
      </div>
    </figcaption>
  </figure>

  <figure>
    <div class="fig__img editable" id="edit-imag-five">
      <img src="{{root}}/assets/img/View_West_October_Evening_6_50x19_50_IMG_0689_800x600.png" alt="View West October Evening">
    </div>
    <figcaption class="fig__caption">
      <span class="line"></span>
      <div class="fig__caption_p editable" id="edit-cap-five">
        <p>
          &ldquo;View West October Evening&rdquo;<br> Watercolour<br>6.50 x 9.50&rdquo;
        </p>
      </div>
    </figcaption>
  </figure>

  <figure>
    <div class="fig__img editable" id="edit-imag-six">
      <img src="{{root}}/assets/img/View_West_October_Evening_6_50x19_50_IMG_0689_800x600.png" alt="View West October Evening">
    </div>
    <figcaption class="fig__caption">
      <span class="line"></span>
      <div class="fig__caption_p editable" id="edit-cap-six">
        <p>
          &ldquo;View West October Evening&rdquo;<br> Watercolour<br>6.50 x 9.50&rdquo;
        </p>
      </div>
    </figcaption>
  </figure>

  <figure>
    <div class="fig__img editable" id="edit-imag-seven">
      <img src="{{root}}/assets/img/View_West_October_Evening_6_50x19_50_IMG_0689_800x600.png" alt="View West October Evening">
    </div>
    <figcaption class="fig__caption">
      <span class="line"></span>
      <div class="fig__caption_p editable" id="edit-cap-seven">
        <p>
          &ldquo;View West October Evening&rdquo;<br> Watercolour<br>6.50 x 9.50&rdquo;
        </p>
      </div>
    </figcaption>
  </figure>

  <figure>
    <div class="fig__img editable" id="edit-imag-eight">
      <img src="{{root}}/assets/img/View_West_October_Evening_6_50x19_50_IMG_0689_800x600.png" alt="View West October Evening">
    </div>
    <figcaption class="fig__caption">
      <span class="line"></span>
      <div class="fig__caption_p editable" id="edit-cap-eight">
        <p>
          &ldquo;View West October Evening&rdquo;<br> Watercolour<br>6.50 x 9.50&rdquo;
        </p>
      </div>
    </figcaption>
  </figure>
</article>
